*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
 }
 a{
    text-decoration: none;
    cursor: pointer;
 }
button{
  cursor: pointer;
}
@font-face {
    font-family:"SF Pro" ;
    src: url("../fonts/FontsFree-Net-SFProText-Regular.ttf");
}


.heads{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    z-index: 1000;
    /* padding: 20px 0; */
    /* background-color: #fff; */

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.head_container{
    width: 100%;
    height: 88px;
    background-color: #fff;

    display: flex;
    font-family:"SF Pro" ;
    align-items: center;
     padding: 28px 0;
    justify-content: space-between;
    padding-left: 100px;
    position: sticky;
    padding-right: 100px;
    box-shadow: 0px 2px 8px 0px #3492B614;

}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s ease;
  }
  .navbar.open {
    display: flex;
    transition: 0.5s ease;

  }
  
  .navbar li {
    list-style: none;
    padding: 10px;
    transition: 0.5s ease;

  }
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .line {
    width: 25px;
    transition: 0.5s ease;

    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  .line.open:nth-child(1) {
    transition: 0.5s ease;

    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .line.open:nth-child(2) {
    opacity: 0;
    /* transform: rotate(-0deg) translate(4px, 0px); */

  }
  
  .line.open:nth-child(3) {
    transition: 0.5s ease;

    transform: rotate(-45deg) translate(5.5px, -7px);
  }
ul{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
ul a{
    margin-left: -200px;
    color: rgba(35, 31, 32, 1);
}
ul a li{
  font-size: 14px;
font-weight: 400;
line-height: 24px;
font-family:"SF Pro" ;
text-align: center;
list-style: none;
cursor: pointer;
}
.logo{
    border-right: 1px solid #44C0EF4D;
    padding-right: 100px;
}

.logo a img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.contact_link {
width: 151px;
height: 40px;
gap: 10px;
border-radius: 6px;
border: 1px 0px 0px 0px;
opacity: 0px;
background: transparent;
border: 1px solid #174050;
}
.contact_link a button{
     font-size: 12px;
    font-weight: 400;
    padding: 7px 16px 7px 16px;
    cursor: pointer;
    background: transparent;
    border: none;
    line-height: 24px;
    text-align: center;
    color: #174050;

}
.selections{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.selecting{
    display: flex;
    align-items: center;
    width: 124px;
height: 36px;
gap: 12px;
opacity: 0px;
padding:0 10px;

}

.selecting select {
    border: none;
    width: 76px;
    height: 24px;
    background: transparent;
    /* padding: 18px 14px 18px 14px; */
    border-radius: 10px;
    gap: 6px;
 font-family: SF Pro;
/* font-size: 14px; */
font-weight: 400;
/* line-height: 24px; */
text-align: center;

}
 
.flag{
    width: 36px;
height: 36px;
padding: 8.4px 6.95px 9.4px 7.2px;
gap: 0px;
border-radius: 50%;
opacity: 0px;
background: #DAF2FC;
font-size: 18px;

}
 

/* homescreen */
.bg_full{
    width: 100%;
    /* background: linear-gradient(to left,rgba(193, 193, 193, 0.15),rgba(193, 193, 193, 0.15) ),url("../assests/bgs.svg"); */
    /* background: ; */
    background: rgba(193, 193, 193, 0.15);
     height: 100%;
}
.bg_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding: 120px 0;
}
.top_bg{
    width: 249px;
height:36px;
display: flex;
align-items: center;
padding: 6px 24px 6px 10px;
gap: 10px;
border-radius: 4px 0px 0px 0px;
opacity: 0px;
background: #DAF2FC66;

}
.top_bg span{
    font-family: SF Pro;
font-size: 12px;
text-transform: uppercase;
font-weight: 400;
line-height: 24px;
text-align: center;
background-image: radial-gradient(62.83% 62.83% at 37.17% 50%, #44C0EF 0%, #276E89 86.23%);
     color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding: 20px;
     /* display: inline-block; */
}
.bg_texts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    flex-direction: column;
    gap: 16px;
    padding-top: 8px;
    padding: 10px;
}
.bg_texts h2{
 font-family: SF Pro;
 width: 896px;
 /* height: 2px; */
 /* padding-top: 10px; */
font-size: 40px;
font-weight: bold;
color: rgba(15, 121, 161, 1);
line-height: 56px;
text-align: center;

}

.bg_texts p{
    width: 636px;
    height: 48px;
 font-family: SF Pro;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: center;
color: rgba(35, 31, 32, 1);

}
.btns {
 font-family: SF Pro;
font-size: 20px;
font-weight: bold;
display: flex;
justify-content: space-between;
align-items: center;
line-height: 24px;
text-align: center;
/* background: rgba(255, 255, 255, 1); */
}
.btns {
    width:  159px;
height:  44px;
padding: 10px 24px 10px 24px;
gap: 10px;
border-radius: 6px;
opacity: 0px;
background: rgba(23, 64, 80, 1);
border: none;
color: #fff;
}
.btns  button{
background: rgba(23, 64, 80, 1);
/* gap: 10px; */
border-radius: 6px;
opacity: 0px;
 border: none;
 font-size: 15px;
color: #fff;
}

.icons{
    width: 13.34px;
height: 15.96px;
top: 18.7px;
left: 20px;
gap: 0px;
opacity: 0px;
color: rgba(255, 255, 255, 1);

}

.bg_img{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* width: 100%; */
    /* background-image:url("../assests/bgs.svg"); */
    background-position: center;
    background-size: cover;
    padding: 0px 0;
 
}

.bg_img  img{
     position: absolute;
   top: 46vh;
}

/* ads */

.ads_bg{
    width: 100%;
    /* height: 50vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.ads_container{
    padding-top: 50px;
    flex-wrap: wrap;
   height: 400px;
}
.ads_bg .ads_container .top_bg {
    width: 290px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    height:36px;
     align-items: center;
    padding: 6px 24px 6px 10px;
     border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background: #DAF2FC66;
 }
.ads_bg .ads_container .top_bg span {
    font-family: SF Pro;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    background-image: radial-gradient(62.83% 62.83% at 37.17% 50%, #44C0EF 0%, #276E89 86.23%);
         color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        padding: 20px;
}
.ads_img{
    width: 871.41px;
    height: 153.45px;
    gap: 56.92px;
    opacity: 0px;
    flex-wrap: wrap;
    align-items: center;
}
.ads_img img{
    width: 90px;
    align-items: center;
}


