*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
 }
 a{
    text-decoration: none;
    cursor: pointer;
 }
button{
  cursor: pointer;
}
@font-face {
    font-family:"SF Pro" ;
    src: url("../fonts/FontsFree-Net-SFProText-Regular.ttf");
}


.heads{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    z-index: 1000;
    /* padding: 20px 0; */
    /* background-color: #fff; */

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.head_container{
    width: 100%;
    height: 88px;
    background-color: #fff;

    display: flex;
    font-family:"SF Pro" ;
    align-items: center;
     padding: 28px 0;
    justify-content: space-between;
    padding-left: 100px;
    position: sticky;
    padding-right: 100px;
    box-shadow: 0px 2px 8px 0px #3492B614;

}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s ease;
  }
  .navbar.open {
    display: flex;
    transition: 0.5s ease;

  }
  
  .navbar li {
    list-style: none;
    padding: 10px;
    transition: 0.5s ease;

  }
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .line {
    width: 25px;
    transition: 0.5s ease;

    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  .line.open:nth-child(1) {
    transition: 0.5s ease;

    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .line.open:nth-child(2) {
    opacity: 0;
    /* transform: rotate(-0deg) translate(4px, 0px); */

  }
  
  .line.open:nth-child(3) {
    transition: 0.5s ease;

    transform: rotate(-45deg) translate(5.5px, -7px);
  }
ul{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
ul a{
    margin-left: -200px;
    color: rgba(35, 31, 32, 1);
}
ul a li{
  font-size: 14px;
font-weight: 400;
line-height: 24px;
font-family:"SF Pro" ;
text-align: center;
list-style: none;
cursor: pointer;
}
.logo{
    border-right: 1px solid #44C0EF4D;
    padding-right: 100px;
}

.logo a img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.contact_link {
width: 151px;
height: 40px;
gap: 10px;
border-radius: 6px;
border: 1px 0px 0px 0px;
opacity: 0px;
background: transparent;
border: 1px solid #174050;
}
.contact_link a button{
     font-size: 12px;
    font-weight: 400;
    padding: 7px 16px 7px 16px;
    cursor: pointer;
    background: transparent;
    border: none;
    line-height: 24px;
    text-align: center;
    color: #174050;

}
.selections{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.selecting{
    display: flex;
    align-items: center;
    width: 124px;
height: 36px;
gap: 12px;
opacity: 0px;
padding:0 10px;

}

.selecting select {
    border: none;
    width: 76px;
    height: 24px;
    background: transparent;
    /* padding: 18px 14px 18px 14px; */
    border-radius: 10px;
    gap: 6px;
 font-family: SF Pro;
/* font-size: 14px; */
font-weight: 400;
/* line-height: 24px; */
text-align: center;

}
 
.flag{
    width: 36px;
height: 36px;
padding: 8.4px 6.95px 9.4px 7.2px;
gap: 0px;
border-radius: 50%;
opacity: 0px;
background: #DAF2FC;
font-size: 18px;

}
 

/* homescreen */
.bg_full{
    width: 100%;
    /* background: linear-gradient(to left,rgba(193, 193, 193, 0.15),rgba(193, 193, 193, 0.15) ),url("../assests/bgs.svg"); */
    /* background: ; */
    background: rgba(193, 193, 193, 0.15);
     height: 100%;
}
.bg_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding: 120px 0;
}
.top_bg{
    width: 249px;
height:36px;
display: flex;
align-items: center;
padding: 6px 24px 6px 10px;
gap: 10px;
border-radius: 4px 0px 0px 0px;
opacity: 0px;
background: #DAF2FC66;

}
.top_bg span{
    font-family: SF Pro;
font-size: 12px;
text-transform: uppercase;
font-weight: 400;
line-height: 24px;
text-align: center;
background-image: radial-gradient(62.83% 62.83% at 37.17% 50%, #44C0EF 0%, #276E89 86.23%);
     color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding: 20px;
     /* display: inline-block; */
}
.bg_texts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    flex-direction: column;
    gap: 16px;
    padding-top: 8px;
    padding: 10px;
}
.bg_texts h2{
 font-family: SF Pro;
 width: 896px;
 /* height: 2px; */
 /* padding-top: 10px; */
font-size: 40px;
font-weight: bold;
color: rgba(15, 121, 161, 1);
line-height: 56px;
text-align: center;

}

.bg_texts p{
    width: 636px;
    height: 48px;
 font-family: SF Pro;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: center;
color: rgba(35, 31, 32, 1);

}
.btns {
 font-family: SF Pro;
font-size: 20px;
font-weight: bold;
display: flex;
justify-content: space-between;
align-items: center;
line-height: 24px;
text-align: center;
/* background: rgba(255, 255, 255, 1); */
}
.btns {
    width:  159px;
height:  44px;
padding: 10px 24px 10px 24px;
gap: 10px;
border-radius: 6px;
opacity: 0px;
background: rgba(23, 64, 80, 1);
border: none;
color: #fff;
}
.btns  button{
background: rgba(23, 64, 80, 1);
/* gap: 10px; */
border-radius: 6px;
opacity: 0px;
 border: none;
 font-size: 15px;
color: #fff;
}

.icons{
    width: 13.34px;
height: 15.96px;
top: 18.7px;
left: 20px;
gap: 0px;
opacity: 0px;
color: rgba(255, 255, 255, 1);

}

.bg_img{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* width: 100%; */
    /* background-image:url("../assests/bgs.svg"); */
    background-position: center;
    background-size: cover;
    padding: 0px 0;
 
}

.bg_img  img{
     position: absolute;
   top: 46vh;
}

/* ads */

.ads_bg{
    width: 100%;
    /* height: 50vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.ads_container{
    padding-top: 50px;
    flex-wrap: wrap;
   height: 400px;
}
.ads_bg .ads_container .top_bg {
    width: 290px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    height:36px;
     align-items: center;
    padding: 6px 24px 6px 10px;
     border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background: #DAF2FC66;
 }
.ads_bg .ads_container .top_bg span {
    font-family: SF Pro;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    background-image: radial-gradient(62.83% 62.83% at 37.17% 50%, #44C0EF 0%, #276E89 86.23%);
         color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        padding: 20px;
}
.ads_img{
    width: 871.41px;
    height: 153.45px;
    gap: 56.92px;
    opacity: 0px;
    flex-wrap: wrap;
    align-items: center;
}
.ads_img img{
    width: 90px;
    align-items: center;
}


/* slider */
.primeSlider{
    width: 100%;

    height: 100%;
    background: linear-gradient(to right, rgb(255, 255, 255) , rgba(202, 241, 255, 0.2));
     background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   /* background: ; */

}

.primeSlider_container{
    /* width: 600px; */
      gap: 26px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: start;
    opacity: 0px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    text-align: left;
    padding-bottom: 50px;
}
.primeSlide_Content{
    
    width: 206px;
    height:36px;
    display: flex;
    align-items: center;
    padding: 6px 24px 6px 10px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background: #DAF2FC66;
     margin-left: 22px;
}
.primeSlide_Content span{
    font-family: "SF Pro";
font-size: 12px;
font-weight: 400;
text-transform: uppercase;
line-height: 24px;
text-align: center;
background-image: radial-gradient(62.83% 62.83% at 37.17% 50%, #44C0EF 0%, #276E89 86.23%);
     color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding: 10px;

}
.primeSliderHead {
    width: 550px;
height: 92px;
gap: 0px;
opacity: 0px;
 }
.primeSliderHead h3{
     font-family: "SF Pro";
    font-size: 32px;
    font-weight: bold;
    line-height: 46px;
    color: rgba(23, 64, 80, 1);

    /* background-image: radial-gradient(62.83% 62.83% at 37.17% 50%, #44C0EF 0%, #276E89 86.23%); */
    /* color: transparent; */
   /* background-clip: text; */
   /* -webkit-background-clip: text; */
   padding: 20px;
}

.primeSliderP {
    width: 477px;
height: 96px;
gap: 0px;
opacity: 0px;

    margin-left: 19px;
}
.primeSliderP p{
 font-family: "SF Pro";
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;

}

/* category slider */
 /* carousel */

 .productef{
    width: 100%;
      display: flex;
     padding: 10px;

  }
  .slide_padd{

  }
  .slider_container{
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height: 282px;
    padding: 44px 6px 25px 16px;
    gap: 0px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(218, 242, 252, 0.2) 0%, rgba(202, 241, 255, 0.2) 100%);
    border-radius: 10px 0px 0px 0px;
    border: 0.5px 0px 0px 0px;
    border: 0.5px solid rgba(68, 192, 239, 0.6);

  }
  .animation_image {
    width: 110px; /* Set your desired width */
    height: 80px; /* Set your desired height */
  }
  .Contents{
/* width: 250px; */
height:88px;
gap: 16px;
opacity: 0px;

  }
  .Contents h3{
 font-family: "SF Pro";
font-size: 17.6px;
font-weight: 610;
line-height: 24px;
text-align: left;
color: rgba(35, 31, 32, 1);

  }

  .Contents{
    padding: 20px 0px;
  }

  .Contents p{
    font-family: SF Pro;
font-size: 12px;
font-weight: 400;
line-height: 24px;
text-align: left;

    padding: 10px 0px;
     color: rgba(35, 31, 32, 0.7);
  }

  /* services */

  .services{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(to right, rgb(255, 255, 255) , rgba(202, 241, 255, 0.2));
    /* margin: auto; */
  }

  .service_container{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    margin: auto;
    /* padding-bottom: 100px; */
    align-items: center;
  }
  .service_head {
 display: flex;
 align-items: center;
 flex-direction: column;
gap: 16px;
opacity: 0px;
padding-bottom: 50px;
}
  .service_head h3{
font-family: "SF Pro";
font-size: 40px;
font-weight: 510;
line-height: 56px;
text-align: center;

  }
  .service_head p{
     width: 638px;
/* height: 48px; */
 font-family: "SF Pro";
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: center;
  }
 
  .service_shapes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    /* flex-wrap: wrap; */
    
  }
  
  .service_box{
    /* width: 368px; */
height: 180px;
padding: 26px 1px 26px 22px;
gap: 4px;

display: flex;
flex-direction: column;
background: #fff;
border-radius: 10px 0px 0px 0px;
box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.74);
 opacity: 0px;
 border: 1px solid rgba(23, 64, 80, 0.07) 
 }
 .service_box img{
 width: 32px;
 height: 32px;
 object-fit: cover;
 }

 .blued{
    background-clip: text;
    -webkit-background-clip: text;
    /* background-color: ; */
    color: #00B1F4;
    font-size: 30px;
 }
 .service_box h4{
    padding-top: 10px;
 font-family: "SF Pro";
font-size: 15px;
font-weight: 700;
line-height: 24px;
color: rgba(35, 31, 32, 1);

text-align: left;

 }

 .service_box p{
    font-family:" SF Pro";
font-size: 11px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: rgba(35, 31, 32, 0.7);

 }

 .blued {
    font-size: 20px;
    
  }

  /* banner1 */
  .banner1{
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background: linear-gradient(98.98deg, #FFFFFF 18.66%, #F7FDFF 80.16%);

  }
  .banner1_contain{
    width: 100%;
    padding: 100px 100px 100px 100px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

  }
  .banner1_h2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    padding-bottom: 100px;
  }
  .banner1_h2 h2{
     font-family: "SF Pro";
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    color: rgba(23, 64, 80, 1);

  }
  .banner1_h2 p{
    width: 597px;
height: 72px;
gap: 0px;
opacity: 0px;

 font-family: "SF Pro";
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: center;

  }
  .banner1_img img{
    width: auto;
    height: auto;
  }
  /* banner2 */

  .banner2{
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 1px 1px 0px rgba(221, 220, 220, 0.85);

  }
  .banner2_contain{
    width: 100%;
    padding: 50px 100px 30px 100px;
    flex-wrap: wrap;
   }

  .banner2_summarized{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 70px 30px 70px;
    width: 1095px;
height: 521px;
margin: auto;
gap: 0px;
 opacity: 0px;
background: rgba(218, 242, 252, 0.5);
position: relative;
box-shadow: 0px 14px 0px 0px rgb(0, 0, 0);
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;

   }

  .shadow{
    /* right: 11.4%; */
    position: absolute;
    /* left: 0; */
   }
  .shadow img{
     border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

  }
  .banner2_h2 h2{
 font-family: "SF Pro";
font-size: 40px;
font-weight: 510;
font-weight: 600;
line-height: 56px;
text-align: left;
color: rgba(23, 64, 80, 1);
padding-bottom: 19px;

  }
  .banner2 img{
    /* width: 100%; */
    background: transparent;
  }

  .banner2_h2 p{
 font-family: "SF Pro";
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: rgba(35, 31, 32, 1);
  }

.btned a{
    margin-top: 40px;

    width: 175px;
height:48px;
padding: 12px 32px 12px 32px;
gap: 10px;
border-radius: 6px;
 opacity: 0px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 color: #000;
background: transparent;
border: 1.5px solid rgba(23, 64, 80, 1)
}
.btned button{
    background: transparent;
    border: none;
    cursor: pointer;
}

/* footer */

.footer{
 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer_container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    padding: 100px 50px 100px 50px;
    flex-wrap: wrap;
    gap: 20px;
    /* align-items: center; */
}
.footer_sub{
    width: 217px;
gap: 0px;
opacity: 0px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer_sub img{
    width: 206px;
    object-fit: contain;
gap: 0px;
opacity: 0px;

}

.footer_sub p{
 font-family: SF Pro;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;

}
.company{
    width:65px;
/* height: 18px; */
gap: 32px;
opacity: 0px;
/* justify-content: center; */

    display: flex;
    flex-direction: column;
    align-items: start;
 }
.company a p{
    font-family: SF Pro;
    font-size: 14px;
    font-weight: 274;
    line-height: 24px;
    text-align: center;
    color: rgba(35, 31, 32, 1);
    
}
.company a:hover{
   color: transparent;
  color: rgba(35, 31, 32, 1);
  
}
.legal{
    display: flex;
    flex-direction: column;
    width:168px;
    justify-content: center;
/* height:118px; */
gap: 32px;
opacity: 0px;

}
.legal h3{
    font-weight: bold;
}
.legal p{
    font-family: SF Pro;
    font-size: 14px;
    font-weight: 274;
    line-height: 24px;
    text-align: left;
    
}
.contact_us{
    width: 245px;
/* height: 66px; */
gap: 20px;
opacity: 0px;
justify-content: center;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact_us p{
    font-family: SF Pro;
font-size: 14px;
font-weight: 274;
line-height: 24px;
text-align: left;
padding-bottom: 10px;
}
.copyright{
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid rgba(0, 0, 0, 1);
    

    padding: 30px 100px 30px 100px;
 }

 .copyright div p {
 gap: 0px;
  opacity: 0px;
 font-family: SF Pro;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;

 }

 .icons_footer{
  display: flex;
  justify-content: space-around;
  gap: 7px;
  }
 .icons_footer span{
  width: 29.8px;
height: 29.8px;
padding: 7.45px;
gap: 0px;
border-radius: 50px;
opacity: 0px;
background: rgba(218, 242, 252, 1);

 }

 /* about */
.about{
  width: 100%;
  height: 100%;
}
 .bg_about{
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding: 140px 0;
}

.bg_con{
  width: 100%;
  height: 454px;
  background: rgba(193, 193, 193, 0.15);
background-image:url("../assests/bgs.svg");
background-position: center;
background-size: cover;
margin-bottom: 100px;

/* top: 100px; */
}
 .top_bgs{
  width: 170px;
height:36px;
display: flex;
align-items: center;
padding: 6px 14px 6px 10px;
gap: 10px;
border-radius: 4px 0px 0px 0px;
opacity: 0px;
background: #DAF2FC66;
display: flex;
justify-content: center;
margin-bottom: 20px;
 }
.top_bgs span{
  font-family: SF Pro;
font-size: 12px;
text-transform: uppercase;
font-weight: 400;
line-height: 24px;
text-align: center;
background-image: radial-gradient(62.83% 62.83% at 37.17% 50%, #44C0EF 0%, #276E89 86.23%);
   color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  padding: 20px;
   /* display: inline-block; */
}

.bg_about .bg_texts p{
 font-family: SF Pro;
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: center;
width: 727px;
height: 90px;
gap: 0px;
opacity: 0px;

}

/* about_us */

.about_us{
  width: 100%;
  background: #fff;
  height: 100%;
  flex-wrap: wrap;
 }
.about_us_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 100px;
  flex-wrap: wrap;
  padding-bottom: 140px;
  gap: 60px;
  padding-right: 100px;
  box-shadow: 1px 1px 1px 0px rgba(221, 220, 220, 0.85);

}
.about_h2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.about_h2 h2{
   font-family: SF Pro;
  font-size: 32px;
  font-weight: 510;
  line-height: 46px;
  text-align: center;
  
color: rgba(23, 64, 80, 1);
}
.h2_p{
  width:562px;
height:510px;
gap: 16px;
opacity: 0px;

}
.h2_p p{
color: rgba(35, 31, 32, 1);
font-family: "SF Pro";
font-size: 18px;
font-weight: 400;
line-height: 34px;
text-align: justify;

}
.spaced{
  margin-bottom: 50px;
}

.about_img img{
  width: 526px;
height: 664px;
top: 568px;
left: 786px;
gap: 0px;
border-radius: 20px 0px 20px 0px;
border: 6px 0px 0px 0px;
opacity: 0px;
border: 6px solid rgba(23, 64, 80, 1)

}

/* contact */
.contact{
  width: 100%;
  height: 100%;
  background: rgba(193, 193, 193, 0.15);
  background-position: center;
  background-size: cover;
}
.contact_contain{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  justify-content: space-around;
  /* align-items: center; */
  margin: auto;
  gap: 100px;
  padding: 140px 100px;
}
.leftse{
  margin-top: 40px;
 
}
.leftse span{
  width: 111px;
  height:36px;
  display: flex;
  align-items: center;
  padding: 6px 14px 6px 10px;
  gap: 10px;
  border-radius: 4px;
  opacity: 0px;
  background: #DAF2FC66;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.leftse span p{
  font-family: SF Pro;
font-size: 12px;
text-transform: uppercase;
font-weight: 400;
line-height: 24px;
text-align: center;
background-image: radial-gradient(62.83% 62.83% at 37.17% 50%, #44C0EF 0%, #276E89 86.23%);
   color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  
 }
.leftse h3{
 font-family: "SF Pro";
font-size: 34px;
font-weight: 700;
line-height: 46px;
text-align: left;
color: rgba(23, 64, 80, 1);

}
.leftse p{
 font-family: SF Pro;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: rgba(35, 31, 32, 1);

}

.contact_btn{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 20px 0;
  align-items: start;
  gap: 30px;
}
.contact_btn button{
  display: flex;
  width: 188px;
height:40px;
padding: 10px;
gap: 20px;
border-radius: 4px;
border: 0.5px solid rgba(23, 64, 80, 1);
opacity: 0px;
font-family: SF Pro;
font-size: 12px;
align-items: center;
font-weight: 400;
line-height: 20px;
text-align: center;
color: rgba(23, 64, 80, 1);
background: transparent;
}
.contact_btn button a{
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgba(23, 64, 80, 1);

}
.iconNames{
  width: 16px;
  height: 16px;
  padding: 0.67px 0.67px 1.33px 1.33px;
  gap: 0px;
  opacity: 0px;
  
}

.right_sideContact{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;

}
 
.rightside_container{
  width: 555px;
/* height: 869px; */
gap: 0px;
border-radius: 16px;
border: 1px 0px 0px 0px;
opacity: 0px;
background: rgba(255, 255, 255, 1);
border: 1px solid rgba(218, 242, 252, 1);
box-shadow: 0px 2px 8px 0px rgba(52, 146, 182, 0.08);
padding: 30px 20px ;

}

.contact_arrow{
gap: 18px;
display: flex;
opacity: 0px;
justify-content: center;
padding: 6px 14px 6px 10px;
color: rgba(23, 64, 80, 1);
}


.rightside_container  form {
padding: 20px;
gap: 22px;
opacity: 0px;
display: flex;
flex-direction: column;

}

.rightside_container form input{
  /* width: 584px; */
height:60px;
padding: 16px 10px 16px 16px;
gap: 10px;
border-radius: 6px;
border: 1px solid rgba(209, 209, 209, 1);
opacity: 0px;
outline: none;
}
.rightside_container form label{
 font-family: SF Pro;
font-size: 12px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: rgba(35, 31, 32, 1);

}

.rightside_container form textarea{
  /* width:584px; */
height:222px;
padding: 16px 10px 16px 16px;
gap: 10px;
border-radius: 6px 0px 0px 0px;
border: 1px solid rgba(209, 209, 209, 1);
opacity: 0px;
outline: none;

}

.rightside_container form button{
 height:64px;
background: rgba(23, 64, 80, 1);
padding: 6px 12px 6px 12px;
gap: 4px;
border-radius: 6px;
opacity: 0px;
color: rgba(255, 255, 255, 1);
 font-family: SF Pro;
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: center;
border: none;
}
.arr{
  width: 32px;
  height: 32px;
}
