


.show_main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.slider-container {

  position: relative;
  height: 400px; /* Adjust this as needed */
}

.slider-image {
  position: absolute;
  top: 0;
  right: -400px;
  opacity: 0;
  transition: opacity 4.5s ease-in-out; /* Adjust duration and timing function */
}

.slider-image.active {
  opacity: 1;
}
@media (max-width: 798px) {
  .slider-container img {
    height: 350px; /* Adjust this as needed */
  }
  .slider-image {
    position: absolute;
    top: 0;
    right: -300px;
    opacity: 0;
    transition: opacity 4.5s ease-in-out; /* Adjust duration and timing function */
  }
}
  @media (max-width: 768px) {
    .slider-container img {
      height: 300px; /* Adjust this as needed */
    }
  .slider-image {
    position: absolute;
    top: 0;
    right: -250px;
    opacity: 0;
    transition: opacity 4.5s ease-in-out; /* Adjust duration and timing function */
  }
}
@media (max-width: 598px) {
  .slider-container {
    height: 320px; /* Adjust this as needed */
  }
  .slider-container img {
    height: 250px; /* Adjust this as needed */
  }
  .slider-image {
    position: absolute;
    top: 0;
    right: -220px;
    opacity: 0;
    transition: opacity 4.5s ease-in-out; /* Adjust duration and timing function */
  }
}

@media (max-width: 430px) {
  .slider-container img {
    height: 190px; /* Adjust this as needed */
  }
  .slider-image {
    position: absolute;
    top: 0;
    right: -170px;
    opacity: 0;
    transition: opacity 4.5s ease-in-out; /* Adjust duration and timing function */
  }
}

@media (max-width: 353px) {
  .slider-container img {
    height: 160px; /* Adjust this as needed */
  }
  .slider-image {
    position: absolute;
    top: 0;
    right: -130px;
    opacity: 0;
    transition: opacity 4.5s ease-in-out; /* Adjust duration and timing function */
  }
  
}

@media (max-width: 330px) {
  .slider-container img {
    height: 160px; /* Adjust this as needed */
  }
  .slider-image {
    position: absolute;
    top: 20px;
    right: -130px;
    opacity: 0;
    transition: opacity 4.5s ease-in-out; /* Adjust duration and timing function */
  }
}

@media (max-width: 280px) {
  .slider-container img {
    height: 100px; /* Adjust this as needed */
  }
  .slider-container {
    height: 180px; /* Adjust this as needed */
  }
}

@media (max-width: 280px) {
  .slider-container {
    height: 140px; /* Adjust this as needed */
  }
}